.App {
  max-width: 600px;
  margin: 0 auto;
}

.App-header {
  display: flex;
  justify-content: space-between;
}

.form-add-expense {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.input-wrapper {
  display: block;
  margin: 20px 0;
}

.input-description {
  width: 150px;
  display: inline-block;
}

.input {
  border: 1px solid black;
  width: 250px;
  padding: 5px;
}

.add-button {
  width: 100px;
  height: 25px;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 5px;
}
